$primary-color: #444;
$secondary-color: #eece1a;
$show-bg-image: true;
$home-image-url: url("./../images/background.jpg");
$bg-opacity: 0.9;
@mixin background {
    @if ($show-bg-image) {
        &#bg-img {
            background: $home-image-url;
            background-attachment: fixed;
            background-size: cover;
            &:after {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100vh;
                background: rgba($primary-color, $bg-opacity);
                z-index: -1;
            }
        }
    }
}

@mixin easeOut {
    transition: all 0.5s ease-out;
}

// Media Queries
@mixin mediaSm {
    @media screen and (max-width: 500px) {
        @content;
    }
}

@mixin mediaMd {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin mediaLg {
    @media screen and (min-width: 769px) and (max-width: 1170px) {
        @content;
    }
}

@mixin mediaXl {
    @media screen and (min-width: 1171px) {
        @content;
    }
}

@function set-text-color($color) {
    @if (lightness($color)>40) {
        @return #000;
    }
    @else {
        @return #fff;
    }
}