.menu-btn {
    position: absolute;
    right: 35px;
    z-index: 3;
    top: 35px;
    cursor: pointer;
    @include easeOut;
    .btn-line {
        width: 28px;
        height: 3px;
        margin-bottom: 5px;
        background-color: #fff;
        @include easeOut;
    }
    &.close {
        transform: rotate(180deg);
        .btn-line {
            &:nth-child(1) {
                transform: translate(7px, 10px) rotate(45deg);
            }
            &:nth-child(2) {
                opacity: 0;
            }
            &:nth-child(3) {
                transform: translate(7px, -6px) rotate(-45deg);
            }
        }
    }
}

// Menu Overlay
.menu {
    visibility: hidden;
    position: fixed;
    width: 100%;
    opacity: 0.9;
    top: 0;
    &.show {
        visibility: visible;
    }
    &-branding,
    &-nav {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        float: left;
        width: 50%;
        height: 100vh;
    }
    &-nav {
        padding: 0;
        margin: 0;
        background: darken($color: $primary-color, $amount: 5);
        list-style: None;
        transform: translate3d(0, -100%, 0);
        @include easeOut();
        &.show {
            transform: translate3d(0, 0, 0);
        }
    }
    &-branding {
        background: $primary-color;
        @include easeOut();
        transform: translate3d(0, 100%, 0);
        &.show {
            transform: translate3d(0, 0, 0);
        }
        .avatar {
            width: 250px;
            height: 250px;
            background: url("./../images/portrait.jpg");
            border-radius: 50%;
            border: 3px solid $secondary-color;
        }
    }
    .nav-item {
        transform: translate3d(600px, 0, 0);
        @include easeOut();
        &.show {
            transform: translate3d(0, 0, 0);
        }
        &.active>a {
            color: $secondary-color;
        }
    }
    .nav-link {
        display: inline-block;
        position: relative;
        font-size: 30px;
        text-transform: uppercase;
        padding: 1rem 0;
        font-weight: 600;
        color: #fff;
        &:hover {
            color: $secondary-color;
        }
        @include easeOut();
    }
}

@for $x from 1 through 4 {
    .nav-item:nth-child(#{$x}) {
        transition-delay: $x * 0.1s;
    }
}