@include mediaSm {
    main#home h1.lg-heading {
        margin-top: 25vh;
    }
    .menu {
        &-branding,
        &-nav {
            width: 100%;
            float: none;
            min-height: 0;
            opacity: 1;
            z-index: 10;
        }
        &-nav {
            height: 70vh;
            @include easeOut;
            transform: translate3d(-600px, 0, 0);
            &.show {
                transform: translate3d(0, 0, 0);
            }
        }
        &-branding {
            height: 30vh;
            @include easeOut;
            transform: translate3d(600px, 0, 0);
            &.show {
                transform: translate3d(0, 0, 0);
            }
            .avatar {
                background: url("./../images/portrait_small.jpg");
                width: 150px;
                height: 150px;
            }
        }
    }
    .projects {
        grid-template-columns: 1fr;
    }
    main#contact {
        height: calc(100vh - 60px);
    }
}

@include mediaMd {
    main {
        align-items: center;
        text-align: center;
        .lg-heading {
            line-height: 1;
            margin-bottom: 1rem;
        }
    }
    .about-info {
        grid-template-areas: "bioimage" "bio" "job-1" "job-2" "job-3";
        grid-template-columns: 1fr;
    }
    .projects {
        grid-template-columns: repeat(2, 1fr);
    }
    main#contact {
        // height: calc(100vh - 60px);
    }
}

@include mediaLg {
    .projects {
        grid-template-columns: repeat(3, 1fr);
    }
    main#contact {
        height: calc(100vh - 60px);
    }
}

@include mediaXl {
    main#contact {
        height: calc(100vh - 60px);
    }
}